###########################
## Directories
###########################
build/
nbproject/
src/conf/

###########################
## Extensions
###########################
*.class
*.db
*.xml
*.sql

###########################
## Package Files 
###########################
*.jar
*.war
*.ear
