.nolinkattributes
{
	font-family:Verdana;
	font-size:12pt;
	color:#ffffff;
}

.nolinkattributes:visited
{
	font-family:Verdana;
	font-size:12pt;
	color:#ffffff;
}

.nolinkattributes:hover
{
	font-family:Verdana;
	font-size:12pt;
	color:yellow;
}